body {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}
