@font-face {
    font-family: 'CustomFont';
    src:  url('../fonts/custom-font.woff2') format('woff2'),
        url('../fonts/custom-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

div {
    color: gray;
    font-family: 'CustomFont';
    /*background: url('../images/favicon.ico');*/
}
