@font-face {
    font-family: 'CustomFont';
    src:  url('./custom-font.woff2') format('woff2'),
        url('./custom-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'CustomFont';
    background: url('./ic_launcher.png');
}
